body {
    --background-color: #2f303a;
    --background-color-2: #25262c;
    --scroll-bar-color: #1d1d1d;
    --scroll-bar-thumb-color: #383249;
    --slider-thumb-color: #4f5886;
    --color: #d6d6d6;
    --heading-color: #adcbf1;
    --border-color: #77768f;
    --button-background-color: #3c3c52;
    --member-container-width: 300px;
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color);
    margin: 0;
}

.body {
    margin-left: 50px;
    margin-right: calc(var(--member-container-width) + 50px);
}

em {
    border-bottom: var(--color) 1px solid;
    font-style: normal;
}

#focus_canvas {
    cursor: pointer;
}

.canvas {
    background-color: var(--background-color-2);
    width: auto;
    margin: 10px 10px;
    padding: 5px;
    cursor: crosshair;
}

#canvas_scroll {
    width: fit-content;
    height: fit-content;
    max-width: 80vw;
    max-height: 80vh;
    overflow: scroll;
}

.control {
    padding: 0 5px 0 5px;
}
.control > label {
    display: block;
}
.control .input {
    display: flex;
    margin: 5px 0 0 0;
}
.control .input > * {
    margin: 0 5px 0 0;
}
.control .input > *:last-child {
    margin: 0;
}
.controls-group {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    border-radius: 5px;
    background-color: var(--background-color-2);
    margin-top: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
}
.controls-group > legend {
    font-size: larger;
    color: var(--heading-color);
    background-color: var(--background-color-2);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    border-radius: 5px;
}

#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block {
    display: block;
}

.popup {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    bottom: 0;
    background-color: var(--background-color);
}
.popup > * > div {
    margin: 0.5em;
}
.popup > * > div > * {
    display: block;
}

.hidden {
    display: none;
}

input[type=range] {
    background-color: var(--scroll-bar-color);
    appearance: none;
    border-radius: 20px;
    height: 10px;
}
::-webkit-slider-thumb {
    width: 1em;
    height: 1em;
    background: var(--slider-thumb-color);
    appearance: none;
    border-radius: 20px;
}

input[type=color] {
    background-color: transparent;
    border: none;
}

input[type=text] {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--button-background-color);
    color: var(--color);
    outline: none;
    border: none;
    font-size: small;
}

::-webkit-scrollbar-corner {
    background-color: transparent
}
::-webkit-scrollbar {
    background-color: var(--scroll-bar-color);
    width: 0.8em;
    height: 0.8em;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-thumb-color);
    border-radius: 20px;
    border: 1px black solid;
}

.button:hover {
	transform: scale(1.1);
}

.button:active {
    transform: scale(0.9);
}

.button {
    transition-duration: 0.2s;
    cursor: pointer;
    width: min-content;
    height: min-content;
    padding: 5px;
    text-align: center;
    border: none;
    background-color: var(--button-background-color);
    border-radius: 50%;
    color: var(--color);
    outline: none;
}

.button.large {
    font-size: 48px;
}

a {
    color: var(--color);
}

.inline-block {
    display: inline-block;
}

.border {
    border: var(--border-color) 1px solid;
}
.padding {
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
}

.active-tool {
    border: var(--color) 2px solid;
}

/*
Side bar
*/
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: var(--member-container-width);
    background-color: var(--background-color-2);
    overflow-y: auto;
    transition: transform 0.5s;
    overflow: visible;
}
.sidebar > div {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--background-color);
    margin: 10px 10px 0 10px;
    word-break: break-all;
    flex-wrap: wrap;
    border-radius: 5px;
}

#expand-side {
    margin: 5px;
    position: absolute;
    transition: transform 0.2s; /*Transition duration consistent with .button class transitions*/
    left: -68px;
}
.sidebar.closed {
    transform: translateX(300px);
}
.sidebar.closed #expand-side {
    transform: rotateZ(-180deg);
}
.sidebar.closed #expand-side:hover { /*Special case to keep .button class :hover consistency*/
    transform: rotateZ(-180deg) scale(1.1);
}
.sidebar.closed #expand-side:active { /*Special case to keep .button class :active consistency*/
    transform: scale(0.9);
}

.navbar > a {
    font-size: x-large;
}
.navbar > a:first-child {
    color: var(--heading-color);
}
.navbar > a:last-child {
    color: orange;
}

.member {
    display: flex;
    place-content: center;
    align-items: center;
    padding: 0 5px 0 5px 0;
    background-color: var(--background-color);
    width: 80%;
    margin-top: 20px;
    word-break: break-all;
}
.member > * {
    margin-right: 10px;
}

@keyframes new-notif {
    2% {
        transform: translateX(-2px);
    }
    4% {
        transform: translateX(4px);
    }
    6% {
        transform: translateX(-4px);
    }
    8% {
        transform: translateX(2px);
    }
    10% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0px);
    }
}
#notifications h3 {
    margin: 10px 0 0 0;
}
.animation-new-notif {
    animation: new-notif 4s infinite;
}
.notif {
    margin: 10px;
}
.notif > * {
    margin: 0 5px 0 0;
}
.notif > *:last-child {
    margin: 0;
}